[2016-02-10 03:36] zeke opened #1 "Support command invocation with 'o' keystroke."
Hi @ruyadorno. I love this tool!

I especially like that <kbd>j</kbd> and <kbd>k</kbd> work out of the box. github.com and gmail.com have trained me to hit <kbd>o</kbd> to `open` the currently selected item, so that was my muscle memory instinct. I know <kbd>enter</kbd> works, but it might be worth supporting both keystrokes for command invocation.

[2016-02-10 03:41] zeke commented on #1
Oh it looks like this is part of https://github.com/sboudrias/Inquirer.js -- will investigate getting the feature landed there instead. :)

[2016-02-10 03:41] #1 closed

[2016-02-13 20:22] vitalystr opened #3 "Fatal Error: v8::ToLocalChecked"
Hello!

I'm tried to launch ntl in the folder doesn't containing a package.json file and got fatal error on output.

FATAL ERROR: v8::ToLocalChecked Empty MaybeLocal

[2016-02-15 01:37] ruyadorno commented on #3
Yeah, I got a different error but a terrible one too. I'll add a better error message :blush: thanks for reporting

[2016-02-15 10:14] tgvashworth opened #4 "Support a description for npm scripts"
Hey — this project is great, exactly what I've been looking for. Thanks for building it!

My team has a lot of scripts to manage, and some have similar names but different behaviour (eg, `build` and `build_watch`). I'd like to be able to provide a description of the commands as documentation. Is that something you'd be willing to see added? (I'll happily do the PR)

I was thinking it could use the

[2016-02-16 03:26] #3 closed

[2016-02-16 03:35] ruyadorno commented on #4
hi @phuu really glad you like it :smile: thanks!

we had one similar contribution adding additional context to the listed tasks but it only shows the content of the npm scripts, you can see it here: #2

Yours is a great idea and some people might find it useful, I would definitely merge it :+1: the only requirements would be to squash commits, provide tests and update the README to explain how to

[2016-02-16 08:36] phuu commented on #4
@ruyadorno cool!

How do you like the idea of putting inside config.ntl? Are you likely to to use it for anything else? If so we could use a different path.

[2016-02-18 02:25] ruyadorno commented on #4
:+1: looks awesome, please go ahead

I don't _plan_ to use it for anything else but I'm inclined to be very receptive towards accepting new ideas for this project, so we never know :blush:

[2016-02-18 16:21] phuu commented on #4
Ok — at risk of being verbose, I'll do config.ntl.docs and see how that feels to use.

[2016-02-23 17:41] uipoet opened #6 "Requesting escape key and visual end marker."
`ntl` is very useful. Thank you!

Really appreciate that `j` and `k` are mapped so I can cruise tasks vim-style.

In addition, it would be great to have `esc` to exit `ntl` and to add a visual separator between the last choice and when it revolves back around to the beginning.

[2016-02-23 18:44] ruyadorno commented on #6
all good sugestions, thanks @uipoet

- `esc` to exit makes a lot of sense :+1: would merge a PR :blush:
- visual mark, I'm not so sure about it :-1:
  - I don't think there's a native way to implement a separator using the current [Inquirer.js](https://github.com/SBoudrias/Inquirer.js) API
  - we could work around it, just by appending an non-interactive item at the end of choices but I'm not sure

[2016-02-23 21:08] uipoet commented on #6
I'll take a stab at a PR for `esc` this weekend.

I see looping on all my projects (several scripts on each). Took me a little while to realize what was happening. Even with the knowledge, I still find it awkward to know if I have been to the end of the list. No solution, given the constraints you mentioned, is apparent to me at this time.

[2016-02-25 14:36] ruyadorno commented on #4
oh, someone just did this: https://github.com/srph/npm-scripts-info

I think it's worth using something like this instead of creating/maintaining our own specs for the descriptions

[2016-03-17 10:05] yaroslavya commented on #6
Also think `esc` or some other key to cancel tasks listing would be helpful. :+1:

[2016-07-06 00:18] Delie opened #7 "Not working in Win 10"
Just had a play in Win 10.  Although the menu works, nothing happens after you press enter.  I'm guessing it has a problem with the Exec() bit.  Any thoughts?

[2016-07-06 17:33] ruyadorno commented on #7
hi @Delie thanks for reporting this, apparently the method `ntl` is using to invoke the scripts seems to have some issues with windows, I tried switching to use a more windows-friendly command, can you please try it and let me know how it works?

Just reinstall **ntl** from its github master branch:

[code]

[2016-07-06 21:59] Delie commented on #7
Yes,  that fixed it!  You can now select and run scripts just fine!  Very handy little script :+1:

One thing i did notice though - if you run a script that doesn't end automatically (e.g. a watch, or a dev server) it throws an error when you quit the task.  It's not a big problem, but I thought it was worth mentioning!  See below:

[code]

[2016-07-07 00:43] ruyadorno commented on #7
awesome! I'll make a new release with the fix, thank you very much for reporting it @Delie 🎉

[2016-07-07 00:47] #7 closed

[2016-07-07 16:12] Delie commented on #7
Excellent, thank you @ruyadorno ! :+1:

[2016-09-04 18:49] fiznool opened #8 "Feature Request: allow scripts to be ignored from list"
If you prefer to install npm modules locally, and run them via `npm run`, you can install ntl in this way:

[code]

Then you can configure in your `package.json`:

[code]

This means you don't need to install `ntl` globally, and instead you can run `npm start` to bring up the ntl options.

The issue is, `ntl` will also display `start` as one of the items in the list. It would be nice to ignore thi

[2016-09-05 10:11] fiznool opened #9 "Feature Request: allow flags to be passed through to the npm script"
Oftentimes I like to run scripts with the `--silent` flag to suppress the npm output when an error occurs, e.g. `npm run specs --silent`.

It would be nice if we could somehow pass through these flags from ntl.

[2017-01-27 22:49] ndelangen commented on #4
Concerning intergrating this into npm itself and a description:
https://github.com/npm/npm/issues/15154#issuecomment-275791993

[2017-01-28 01:24] zeke commented on #4
I like the bash comments idea outlined in https://github.com/npm/npm/issues/15154#issuecomment-275791993

[2017-01-28 03:08] ruyadorno commented on #4
@zeke 👍 agreed, the bash comments looks like something that can fit well inside the scope of `ntl` without too much overhead

[2017-02-23 17:51] zeke opened #11 "Show more tasks"
Maybe I'm weird, but many of my projects have more than eight scripts. I know I can arrow down through them all, but it would be nice if `ntl` showed all of the scripts.

<img width="616" alt="screen shot 2017-02-23 at 9 49 22 am" src="https://cloud.githubusercontent.com/assets/2289/23271747/8a1f46b2-f9ad-11e6-9a27-3dcf7fc4f376.png">

[2017-02-25 21:48] ruyadorno commented on #6
landed on `1.2.0`

thanks @darahak for adding it in #10

[2017-02-25 21:48] #6 closed

[2017-11-30 03:54] kpman opened #12 "Allow autocomplete"
First, thank you for implementing this package.
I use `ntl` everyday.

Do you have any plan to support autocomplete?

https://github.com/mokkabonna/inquirer-autocomplete-prompt#readme

[2018-01-04 23:54] ruyadorno commented on #12
hi @kpman thanks!!! 🎉 glad to see there's more people out there using **ntl** other than I 😂

super sorry to have taken that much time for a reply but **YES** I do have plans to add autocomplete since I just recently added it to **ntl** younger brother **ipt**: https://github.com/ruyadorno/ipt/releases/tag/v1.1.0

I'm seriously considering a major revamp of **ntl** using **ipt** internally so that

[2018-03-15 02:53] kpman commented on #12
Hi @ruyadorno, do you have any progress for this issue?
I am really looking for it.

[2018-03-16 14:30] ruyadorno commented on #12
hi @kpman, I'm still concentrating efforts on **ipt** v2 in which I want to reuse here, I'm sorry for the long wait but I don't have a lot of time these days (classic open source dev 😬sorry again). I rather keep my focus and once done over there, implement it the right way here 😄

in the meantime - if you're really eager to have it, I'd be open to merge a PR here that just implements `inquirer-aut

[2018-03-23 13:20] mischah commented on #11
Hej @ruyadorno,

would you accept a PR for that?
That’s something I am missing in a lot of cases.

Question: Should it default to to show 7 and have an option to show more?

Like:

[code]

[2018-03-23 13:38] mischah commented on #11
I’m going to check how Inquirers `pageSize` property reacts when passing a number creater than available choices …

[2018-03-23 13:40] ruyadorno commented on #11
hi @mischah yeah def! I'd say for the default value we keep whatever is the default from https://github.com/SBoudrias/Inquirer.js

keep in mind though that I'm hard at work on **iPipeTo** which I meant to reuse here as a way of having a unified codebase as I mentioned in #12 - btw just yesterday I finished a first version of a proper API (https://github.com/ruyadorno/ipt/pull/26) 🎉

just wanted to

[2018-03-23 13:42] ruyadorno commented on #12
hi @kpman, just wanted to keep you posted, I have some good news as the rewrite of the API in **ipt** is mostly done now https://github.com/ruyadorno/ipt/pull/26

[2018-03-23 13:49] mischah commented on #11
No problem, as long as the PR lands in a release 😘

To be honest ipt looks to complex for a short dive in. I want to work on a Yeoman feature after finishing this PR. So I prefer to add the feature over here for now.

Cheers, Michael :octocat:

[2018-03-23 13:52] ruyadorno commented on #11
AWESOME! 🎆

Please go ahead, I can cut a minor release as soon as it lands 😉

thanks!!!

[2018-03-23 17:20] #11 closed

[2018-03-23 17:42] zeke opened #16 "Put executed commands in history"
I wish I could use `ntl` to find a command, run it, and then the next time I want to run that same command again, I can just arrow-up in my shell and run it again, instead of running `ntl` and arrowing through the options a second time.

Maybe the [shell-history](https://github.com/sindresorhus/shell-history#usage) module would make this easy.

[2018-03-23 17:47] zeke commented on #16
I think most shells don't write to the history file until the shell exits, so something like this might be necessary: https://stackoverflow.com/questions/842338/how-do-i-tell-zsh-to-write-the-current-shells-history-to-my-history-file

[2018-03-23 18:39] ruyadorno commented on #16
oh yeah! I feel you, this happened with me too many times already 🤔 how come I never thought about opening an issue before 😂

thank you again @zeke I'll def give this one a try once I'm done with all the refactor

[2018-03-23 18:41] ruyadorno commented on #16
it'd be nice to have a small node module taking care of that, I see Sindre has one for reading it... https://github.com/sindresorhus/shell-history

[2018-03-23 18:43] ruyadorno commented on #11
thanks @zeke for reporting this one! 🏆

🎉 landed on release [v1.3.0](https://github.com/ruyadorno/ntl/releases/tag/v1.3.0)

[2018-03-23 23:58] rafaelrinaldi opened #17 "Task description"
It would be very handy if `ntl` provided a way to display a description about the available tasks. I believe it would be failry straightforward to implement this.

If you think it's a good idea I can give it a shot.

[2018-03-24 03:26] ruyadorno commented on #17
hey @rafaelrinaldi thanks for stopping by!

by task descriptions do you mean like we discussed in #4 ?

[2018-03-24 03:47] rafaelrinaldi commented on #17
That looks like it! I offer myself to tackle it if there is interest.

[2018-03-24 04:25] ruyadorno commented on #17
oh yeah 🎉 sure thing! that'd be awesome!

in the end of that discussion I think the [bash comment](https://github.com/npm/npm/issues/15154#issuecomment-275791993) idea was the best way to go about it we could come up with, do you agree?

anyways, any help is super appreciated!

many thanks!

[2018-04-03 13:14] #12 closed

[2018-04-03 14:48] ruyadorno commented on #17
@rafaelrinaldi heads up, major refactor just landed on master 😊

[2018-04-03 16:44] ruyadorno commented on #12
hi @kpman heads up [v2.0.0](https://github.com/ruyadorno/ntl/releases/tag/v2.0.0) just landed with `-A` `--autocomplete` option 😄

[2018-04-03 17:25] kpman commented on #12
Nice!!!

[2018-04-04 07:08] mischah commented on #4
Hej @ruyadorno,

I’d love to see that feature 💖

But I must say that I would prefer to configure descriptions via a `ntl` field in `package.json` similar to the first proposal from @tgvashworth:

[code]

Only difference: Get rid of the wrapping `config` property.
Reason: This is like other tools handle it (e.g. Jest, ESLint etc.)

Reason for introducing an own field instead of using bash comments:

[2018-04-04 07:12] mischah commented on #4
or to be more future-proof:

[code]

This way you wouldn’t need to do a major bump in case you will store other configs into the `ntl` field.

[2018-04-05 01:55] ruyadorno commented on #4
hi @mischah I'm totally down to support both methods! 👍

specially after the [v2.0.0](https://github.com/ruyadorno/ntl/releases/tag/v2.0.0) refactor, there's so little code left in **ntl** itself that it can totally handle some minor bloat like that.

And then everyone can be happy! 🎉

[2018-04-05 01:57] ruyadorno commented on #4
I'll give it a few weeks to see if anyone wants to send in a PR to support any of these description methods since I'm very burned out from all the effort that went into getting [ipt](https://github.com/ruyadorno/ipt) and **ntl** to the nice state they are now.

but fear not my friends, if nobody feels like doing it I'll implement at least one of those to start with but tbh I def want to see both d

[2018-04-05 01:59] ruyadorno commented on #17
I'll close this one since it's def a duplicate of #4

let's follow up with the discussion there! many thanks!

[2018-04-05 01:59] #17 closed

[2018-04-05 05:51] ndelangen commented on #4
@ruyadorno I'm sad to hear you're burned out because of the OS work. Just wanted to post, that you have no obligation to do this whatsoever, you should do things you like doing in your free time.

Truly appreciate the hard work you've put into this :bowing_man:

[2018-04-17 11:08] darekkay opened #23 "Configuration via file"
Hi, thanks for this nice little utility :)

I'd like to configure `ntl` sytem-wide without the need of adding option parameters for each call, e.g. `ntl -A -s 20`. A bash alias would work, but something like a `.ntlrc` would be more convenient. [Prettier](https://prettier.io/docs/en/configuration.html) uses [cosmiconfig](https://github.com/davidtheclark/cosmiconfig) for this, so you get a lot of c

[2018-04-20 14:25] mischah commented on #4
I’m about to start to work on this 😘

[2018-05-02 21:51] #4 closed

[2018-06-14 13:50] SamHH commented on #16
I've done some research on this for my own project and couldn't find a way for this to be done (short of manually writing to the user's history file, which would involve either guessing where it is or trying to figure that our from configs, and even then it's not recommended).

Do let me know if you find a way!

[2018-07-10 11:20] saggiyogesh opened #26 "Numbers to script list in menu"
Hi,
It would be nice to have a numbered list of task scripts so that by pressing that number, the script will be executed.
Then no need to scroll down to the task.

[code]

[2018-07-16 14:50] ruyadorno commented on #23
hi @darekkay sorry for the very late response 😬

I think the idea is great and would def welcome a contribution to add support to it 😄

For reference to other people that might look into this issue, the "bash alias" would be something like:

[code]

that you can add to your `.bash_profile` / `.bashrc` (or equivalent file) in order to have different global options.

[2018-10-04 08:32] mikicho opened #28 "Feature Request: run last task"
A lot of times I need to run the same task again and again (tests for example).
So I want to be able to run the last task in more convenient way for example:
[code]

[2018-10-16 04:52] ruyadorno commented on #28
related to #16

[2018-10-18 20:38] ruyadorno commented on #16
hi @SamHH I'm trying to get back at this and I was wondering - could you expand a bit more on why `history -s` wouldn't work? 🤔at first that seems like the easy route 😊

[2018-10-18 21:37] SamHH commented on #16
Unfortunately I can't remember, it's been a while! Please let me know if you make any progress on this.

[2018-10-19 17:08] ruyadorno commented on #16
hehehe no pb 😄 I did a quick test yesterday and figured out that wouldn't work since node spawn separate processes to run all those commands 😛so I don't think they can share the same history like that...

I even gave it a try using https://www.npmjs.com/package/kexec but with no luck either 😕

[2018-10-26 09:45] Calinou opened #29 "Misleading error message when package.json is malformed"
**Node.js version:** 8.12.0
**ntl version:** 3.0.0

Attempting to run ntl with a malformed `package.json` (with a missing comma, for instance) will display the following error message:

[code]

The error message should be different when `package.json` is malformed to make troubleshooting easier.

[2018-10-26 09:50] Calinou opened #30 "Display task descriptions by default (but not commands)"
I think it would make sense to display task descriptions by default (essentially enabling the `-d` switch by default), while hiding full commands for the sake of simplicity. The `-d` switch could be preserved to display commands for tasks that do not have a description.

This would improve discoverability of task descriptions and further encourage adding them to `package.json`.

[2018-12-03 16:52] ruyadorno commented on #16
oh well, I should pb document here that a while ago I took a deep dive into the way bash and other shells handle history only to confirm that it's indeed impossible to manipulate it from any form of scripting (which I guess is great security-wise)

I think the best we can do is have an extra option for running a previously selected task (as suggested in #28). Another related quality of life improv

[2018-12-06 10:04] elhoucine opened #31 "Exits program on ESC is slow"
In my CLI, I noticed after running ntl and pressing ESC key it takes few milliseconds before exiting. All the other actions execute immediately.

In the following screenshot, I pressed The ESC button and highlighted the mouse at the same time.

![ntl-esc-slow](https://user-images.githubusercontent.com/5818473/49576825-5d1cde00-f946-11e8-82cf-d688fc096a92.gif)

[2019-02-11 18:28] ruyadorno commented on #31
hi @elhoucine I can confirm I'm able to reproduce the same problem in my system (iTerm on OSX 10.14.2)

interesting thing is that the listener to ESC button is quite a simplistic implementation as you can see:

https://github.com/ruyadorno/ntl/blob/98a6e5565540a33be97ba72cc97d5e1562016b1e/cli.js#L51

I'm currently unable to dig down the rabbit hole but if this rings a bell to anyone, feel free to

[2019-02-15 21:56] mischah commented on #30
Hej @Calinou,

let my recap your thoughts:

- `ntl` should behave like `ntl -d -o`
- `ntl -d` should stay the same

Am I right?

In this case `-d` should be renamed to something like:
  -f, --fallback       Displays the commands of scripts lacking a description

----

I’m not sure that this is a good idea, because it’s a rather hard braking change for users like me: I often use `ntl` for listing s

[2019-02-15 22:03] mischah commented on #28
This would be a great addition 👍

@ruyadorno

I would love to work on this one. Should this be just another option like:

    -r, --rerun       Rerun last selected script

[2019-02-15 22:12] Calinou commented on #30
I didn't mean tasks without a description should be hidden by default (that would be a pretty bad change, usability-wise). I just meant descriptions should be displayed by default when available, while keeping the current display if no description is available.

[2019-02-15 22:12] mischah commented on #8
👍 for the blacklist option.

Excluding `npm start` isn’t possible because it’s just a personal use case.

I just wonder if this should be another key in the `package.json` or if it would make more sense to have an option for that like:

    -b, --blacklist       Exclude scripts from the list      [list]

or:

    -e, --exclude       Exclude scripts from the list      [list]

Example:

    ntl --ex

[2019-02-15 22:15] mischah commented on #30
Ahh. This makes sense and sounds useful 👍

But why should we keep the `-d` in this case? 🤔

[2019-02-15 22:18] mischah commented on #8
Hej @ruyadorno,

Would you accept a PR for that? :octocat:

[2019-02-15 22:35] mischah commented on #26
This could be done by an upstream change:
Adding a new option to [ipt](https://github.com/ruyadorno/ipt) which uses [rawlist](https://github.com/SBoudrias/Inquirer.js/#raw-list---type-rawlist).

Plus adding a new option here as well.

[2019-02-15 23:41] mischah commented on #16
😢

… so this can be closed, right?

[2019-02-16 00:57] Calinou commented on #30
The `-d` flag would act as a verbose mode of sorts, where the full command is displayed *only* if there is no description attached to a given task.

[2019-02-21 17:48] ruyadorno commented on #8
sure thing! my thoughts:

- naming-wise I think either `--exclude` or `--ignore` are much better options
- ideally we should support both `package.json` field AND cli options (but if you want to start with just one that's fine 👍 )
- another improvement I think could be useful is to be able to accept `*` in order to ignore a given prefix/suffix e.g: `--ignore=pre*` to ignore all pre-scripts

[2019-02-21 18:23] ruyadorno commented on #28
@mischah sounds good! a few questions:

- how do you plan to keep a storage/history of last run command?
- how do I change the command I want to rerun after storing it?
- what happens when the cli flag is used but there are no commands in history?
- are commands saved to this storage even when the flag is not used?

I think most of these are straightforward but it could be a good exercise to have

[2019-02-21 18:31] ruyadorno commented on #16
yeah, I'd say so

let's focus on #28 now 😊

[2019-02-21 18:31] #16 closed

[2019-02-21 20:43] mischah commented on #28
Good questions.

I did some research about a simple key value storage like `localstorage` for node and ended up by prefering [conf](https://github.com/sindresorhus/conf) over [data-store](https://github.com/jonschlinkert/data-store) or [keyv](https://github.com/lukechilds/keyv)

Didn’t thought about that by now. But I don’t think this is actually needed. You just update it by calling `ntl` without

[2019-02-21 20:55] mischah commented on #9
@ruyadorno

Should this be done by allowing something like:

[code]

This is the concept how one can pass options to commands used in npm scripts like described [here](https://michael-kuehnel.de/tooling/2018/03/22/helpers-and-tips-for-npm-run-scripts.html#passing-options-to-used-commands).

[2019-02-21 21:00] ruyadorno commented on #9
yep 👍ideally yes

[2019-02-22 14:46] mischah commented on #8
[@paquan](https://github.com/paquan) and me are currently working on this.

We have decided to name the option `-e` --> `--exclude` to prevent an alias name clash with `-i` -> `--info`.

We skip support of defining the excludes via an `exclude` key in the `package.json` because this should be done with #23.

[2019-02-22 18:17] mischah commented on #28
Hej @ruyadorno

I have two final questions that have to be answered before starting to work on this:

1. Where to store the saved last command?

    When using [conf](https://github.com/sindresorhus/conf) you can decide wether to store the data in `~/.config/ntl` or in the current working directory.

    I guess we should use the current working directory in order to make it possible to save last

[2019-02-22 18:38] mischah commented on #29
I’m currently working on this.

[2019-02-22 20:36] mischah commented on #29
PR is created :octocat:

[2019-02-22 20:36] mischah commented on #8
PR is created :octocat:

[2019-02-22 22:06] ruyadorno commented on #28
1. 👍 to current working directory
2. yes, i know there are potential risks but imo this is the whole point of having the `rerun` as a feature (maybe having two diff flags to run with/without confirmation?)

[2019-02-22 22:08] ruyadorno commented on #28
also, maybe it's a good idea to have a flag/option to disable the cache, e.g: `--nocache` I can see that some people would find it rather intrusive to have it saving to the local file everytime

[2019-02-22 22:10] ruyadorno commented on #28
one more idea: it's definitely a good idea to test it with **npx** and make sure it works as intended (or maybe the intended way in this case is to not have a caching system at all?)

[2019-02-22 22:12] #29 closed

[2019-03-05 17:03] bassplayer7 opened #34 "Descriptions abruptly stopped displaying"
I have been using `ntl` for a while but today, it abruptly stopped working. Is there anything in particular that may have caused this? I am not aware of a change in my environment.

Here's a reduced example of my `package.json`:

[code]

Output:

[2019-03-05 17:06] mischah commented on #34
Which Node.js Version are you using?

[2019-03-05 17:07] bassplayer7 commented on #34
Node v11.9.0

[2019-03-05 20:42] mischah commented on #34
Oops. It was a bug I brought in with #33.

Sorry 🙈

A already created a PR to fix this. Hope @ruyadorno will publish this soonish.

[2019-03-05 22:07] #34 closed

[2019-03-05 22:12] ruyadorno commented on #34
done ✅

thanks for the quick fix @mischah 😄

[2019-03-05 22:26] mischah commented on #34
No problem 😅

[2019-03-05 23:27] bassplayer7 commented on #34
Wow! Thanks for the quick effort, friends. I can confirm it is working once again.

[2019-03-08 21:30] ruyadorno commented on #8
Landed on `v3.2.0`

thank you so much @mischah @Paquan 🎉

[2019-03-08 21:30] #8 closed

[2019-03-08 22:13] mischah commented on #8
It was our pleasure and we hat lots of fun working together on this 😄

[2019-03-18 16:16] egor-xyz opened #41 "Description + Exclude"
`ntl -d -e start`
Didn't exlude start script from menu

[2019-03-18 22:40] mischah commented on #41
Confirmed. I’m able to reproduce this with ntl `v3.2.3`.

Seems to be a bug.

@ruyadorno Can you assign this one to me?

[2019-03-19 17:07] ruyadorno commented on #41
sure thing 👍

[2019-03-19 17:10] #41 closed

[2019-03-19 17:14] ruyadorno commented on #41
thanks for the prompt fix @mischah 😄

[2019-03-19 17:15] ruyadorno commented on #41
and @egor-xyz for the prompt report! 🎉

[2019-04-09 03:03] oMaten opened #43 "An option for choosing custom npm client"
For now, `ntl` use npm to execute script by default. I need to use private npm client to execute script for some reasons(like preset npm remote registry, etc...), so is it possible to add an option for setting private npm client?

[2019-04-15 17:29] ruyadorno commented on #43
that's something I had in the back of my mind for a while but never really had the time to work on it - I think it's definitely very nice to have 👍

[2019-05-21 17:15] Calinou commented on #43
I suppose this would also be useful to run scripts using Yarn instead of npm, which can be slightly faster in my experience.

[2019-06-28 08:38] LGDHuaOPER opened #44 "most 7 items"
Git command shows the most 7 'npm scripts' items, how can I do to show more? I write more than 10 scripts in package.json.

[2019-07-16 15:08] wgolledge opened #46 "Conflict with Netlify `ntl` command"
Netlfiy have recently added a shorthand `ntl` command that interferes with this command when both are installed on the same machine (this happens with or without `npx`).

Would it be possible to rename this command, or also have it listed under another (longhand?) command so that users are still able to access it after using Netlify.

Edit: I'm able to run with `npx -p ntl --no-install ntl` but it

[2019-07-26 20:01] ruyadorno commented on #44
@LGDHuaOPER you can use the `--size` option:

`ntl -s 10`

let me know if that fixes your problem 😊

[2019-07-26 20:15] ruyadorno commented on #46
@wgolledge thanks for the heads up! I'll bring it up to the https://github.com/netlify/cli repo team first and see if maybe they want to avoid the conflict from their side but anyways I think a longhand command might be a good idea (given that **ntl** are just three letters and so easy to have conflicting acronyms)

[2019-07-26 21:24] ruyadorno commented on #46
if anyone wants to send a PR adding a longhand option, that's def welcomed, I don't feel particularly inspired right now but I guess `npm-tasklist` or `npmtl` could do the trick

PS: just make sure it doesn't conflict with yet another CLI 😂

[2019-07-27 10:11] wgolledge commented on #46
I'll get on it 😄

`npm-tasklist` sounds like a good longhand option to me

[2019-07-30 13:51] #46 closed

[2019-07-30 21:33] ruyadorno commented on #43
Landed in #49

[2019-07-30 21:33] #43 closed

[2019-07-31 14:48] #44 closed

[2019-10-18 14:20] eemelianov commented on #30
@ruyadorno i would like to work on this one, how should we implement the default behavior and the behavior of `-d`-flag. My proposal is:
default behavior:
- we show the script-name and the description in case one exists
- in case no description is available, we show the script-name plus full command
- in this case `-d`-flag is obsolete, but we can keep it to prevent breaking change

`-d`-flag beha

[2019-10-18 16:17] eemelianov commented on #30
@ruyadorno ok i will implement it that way as soon as @mischah gives his approval

[2019-10-18 17:51] mischah commented on #30
@eemelianov @ruyadorno

Sounds legit to me 👍🏻

[2019-10-18 18:18] goatfryed commented on #28
Hello!

In agreement with @mischah, i've implemented this feature request. As mentioned in the PR, i have trouble with the tests and therefore couldn't provide additional tests for the feature.

While working on it, the question occured how to handle cases where the last usage included the multiple option. For now i've implemented to reproduce the last usage, therefore rerunning all scripts, if mu

[2019-10-18 18:29] ruyadorno commented on #30
awesome 👍 looks like you're good to go then @eemelianov

[2019-11-07 14:16] ruyadorno opened #55 "Absolute path not working"
Currently if trying to use an absolute path as the filename argument, such as:

[code]

 will always result in:

[code]

[2019-11-08 02:23] ruyadorno opened #56 "ntl breaks when trying to list only-description tasks + show info"
**ntl** is breaking pretty bad when trying to use a particular combination of options:

In a given project with no task descriptions:

[code]

[2019-11-08 04:03] #28 closed

[2019-11-08 04:03] #55 closed

[2019-11-08 04:03] #56 closed

[2019-11-08 04:17] ruyadorno commented on #28
ok I landed #28 into master which is now basically a `v5` branch that I'm doing a bunch of work in order to publish a new major release, for now the only breaking change I'm aware of is the fact that we're only supporting node@10+

I actually have a bunch of ideas to tweak this functionality actually, namely:
- after seeing it in action I changed my mind and I now rather store a single conf file i

[2019-11-08 16:53] ruyadorno opened #57 "Change descriptions-only behavior"
@mischah in current `master` I changed the default behavior of `--descriptions-only` to not depend on `--descriptions` anymore, so [given](https://github.com/ruyadorno/ntl/blob/52d98703af22137c116f896bf943a26b44ac68e5/test/integration/options-descriptions-only.js):

[code]

Running `ntl -o` will:

[code]

What is your opinion on it? I personally think it's simpler to have flags being independent f

[2019-11-15 06:05] #9 closed

[2019-11-19 04:46] #30 closed

[2019-11-19 04:48] ruyadorno commented on #30
hi @eemelianov, just wanted to let you know that since there was no more activity in this issue I ended up shipping the feature as I'm getting the project ready for v5, thanks for the interest and I hope you can contribute in the future 😊

[2019-11-24 04:22] #57 closed

[2019-11-25 16:42] ruyadorno commented on #16
attention everyone 📣 [ntl@5.0.0](https://github.com/ruyadorno/ntl/releases/tag/v5.0.0) is out which ships a HUGE improvement over this problem, featuring a task cache that allow us not only to have the last ran task selected by default but also adds a handy `nt` command that will automatically run the last task - so in theory you can just replace your usage of `ntl` for `nt` in order to get the hi

[2019-11-25 16:43] ruyadorno commented on #30
out now in [ntl@5.0.0](https://github.com/ruyadorno/ntl/releases/tag/v5.0.0) 🎉

[2019-11-25 16:54] ruyadorno commented on #28
📣 out now in [ntl@5.0.0](https://github.com/ruyadorno/ntl/releases/tag/v5.0.0) 🎉

[2019-12-03 16:18] PlayMa256 opened #58 "Monorepo support"
Hello! Does it has support for a mono repo? Scanning through multiple `package.json`?

[2019-12-03 18:44] ruyadorno commented on #58
hi @PlayMa256 unfortunately **ntl** does not offer any special support to mono repo structures out of the box right now but rest assured that's something I would love to support!

Thing is I'm not a monorepo person myself and I don't have any projects in my radar using it - that said I would love to hear from the people using it what would make sense for them.

Some questions to start with:
- What

[2019-12-03 18:51] PlayMa256 commented on #58
Hello! We have few people that would be interested on it!

Lerna, yarn workspaces

Usually they have tasks per package and sometimes they expose those tasks on the root `package.json` file.

What i mean:

Given we have the package: `@test/my-cli` with the following commands:
[code]

This could/would be exposed on the top level scripts as (using the yarn workspaces syntax):
[code]

Sometimes they d

[2019-12-03 21:35] ruyadorno commented on #58
Awesome, that sounds like a great start!

👍 this kind of reference is very useful for adding tests

Great to hear! Personally I don't think I'll be putting much development time into the project right now so I'll leave this one open for the community to help 😊

[2019-12-12 15:04] PlayMa256 commented on #58
FYI: i created a small package which helps finding all `package.json` files. I'm planning to add this as a helper to this feature!

https://github.com/PlayMa256/find-all-package-files

[2019-12-13 09:11] mischah commented on #58
Hej, this is a great idea.

I’d like to work on this.
Or did you already started @PlayMa256?

----

Just a last Question about the list behavior when finding a monorepo.

Currently we are showing tasks like this:

[code]

## Option 1

In case of a monorepo we could provide a list of sub repos first:

[code]

Not sure about the wording though. Anyway: We would present the task list after choosing o

[2019-12-13 09:15] mischah commented on #58
Another important thing is to think about how the monorepo feature should go along with the `--rerun` flag 🤔

[2019-12-13 12:46] PlayMa256 commented on #58
@mischah i had just started writing down, i wrote literally 2 lines hahaha, you can go ahead and do that!

Let me contribute to the discussions

I personally think that is going to be a better UX if we can have option 2 because there are many scripts that can be run on the root as well like global lint, tests, stuff like that!
Giving a list of scripts per package is the best idea!

[2020-01-08 16:34] ruyadorno commented on #58
ok, I have given this a fair amount of thinking and I would like to avoid as much as possible writing a custom implementation for handling the monorepo discovery logic. I would much prefer reusing some already existing code from one of the big projects, such as **lerna** `project.getPackages()`:

https://github.com/lerna/lerna/blob/6c4ee5294002c0e464f557b149516017eccf2a07/core/project/index.js#L16

[2020-02-20 09:55] DerZyklop opened #59 "Search not only for npm scripts but also its descriptions"
Idea...

I have this:

<img width="635" alt="Screen Shot 2020-02-20 at 10 47 55" src="https://user-images.githubusercontent.com/912344/74921831-9831f280-53ce-11ea-82b2-79098a584f7a.png">

I typed `serve` because i know my scripts. I think it would be nice if my less techy colleagues could also type something like `frontend` to get the serve scripts or `netherla` to get the `serve:nl`.

[2020-02-22 02:05] ruyadorno commented on #58
Update: The RFC for `npm workspaces` is out: https://github.com/npm/rfcs/pull/103

[2020-07-01 07:42] w3bsme opened #62 "[BUG] Not an internal or external command, executable program or batch file"
![help pls](https://user-images.githubusercontent.com/29128703/86216937-6ce2bf80-bb87-11ea-9c2b-9e8592844c9b.png)

[2020-07-01 17:44] ruyadorno commented on #62
Sounds like it could possibly be a npm setup issue, could you try `npm install -g` with different packages that provide a cli and confirm if those work? Examples:
- `npm install -g yo` - Should be able to run `yo --help`
- `npm install -g diff-so-fancy` - Should be able to run `diff-so-fancy --help`

[2020-07-11 00:46] w3bsme commented on #62
Solved :heart:

[2020-07-11 00:46] #62 closed

[2020-07-12 15:14] KilianKilmister opened #63 "using a seperate file to define scripts and paching them into package.json"
Is there any interest for adding the possibility to patch the package.json with scripts defined in a seperate file?

It wouldn't be hard to implement and would allow users to use YAML, JS or [JSON5] and their pleasantness.
This would also allow the command and the description to be right next to eachother, which i would like

command could look like this:

[code]

so the structure would be somethi

[2020-08-13 12:22] RA80533 opened #65 "Animated SVGs"
Viewing the project README is somewhat problematic on Safari 13 due to the animated SVGs on the page. They were apparently enough to cause my laptop to heat up quite a bit before I tracked the culprit down (the process for the repository landing page consumes a non-trivial amount of resources).

It might be worth changing how the project is showcased to prevent the problematic behavior from occurr

[2020-08-21 14:03] ruyadorno commented on #65
hi @RA80533 thanks for letting me know! 😊 yeah, I've been intending to change that to regular gifs for a while since I received also reports from it failing to render properly in certain OS / browser combinations.

I'll leave this issue open for now as a TODO/reminder for when I have some time to spare 😄

[2020-09-14 19:02] stagefright5 opened #66 "[Q] How to pass the arguments?"
How to pass arguments for the scripts. For example,

[code]
How do I do this when executing a script through ntl?

[2020-09-28 20:00] ruyadorno commented on #66
There's no way to do that currently - That said I would love to hear some ideas on how to better implement forwarding arguments to scripts as I def think it would make sense to support it 😊

[2020-10-12 15:16] stagefright5 commented on #66
Hi,
I just saw your reply. I would be happy to contribute but, I am quite busy till this month's end. I will try to do something over the weekend. Thanks for considering.

[2020-10-23 08:30] jugglingcats opened #67 "NPM gives error due to exit code"
Love this tool, thank you!

Am not sure if this is something in my environment (Git bash on Windows), but when I Escape, or Ctrl+D to exit the task list I get an NPM error due to exit code 1...

[code]

My definition for the `menu` task looks like this:
[code]

[2020-10-23 08:32] jugglingcats commented on #67
This is my workaround...
[code]

[2020-10-23 20:36] ruyadorno commented on #67
Yeah that def sounds like an issue related to the environment 😕 I could not reproduce it in neither npm6 or 7 in my macos env.

I guess `"menu": "ntl -o || exit 0",` could also be a potential workaround for just avoiding the annoying `npm ERR!` messages but otherwise I wouldn't say there's an issue with **ntl** itself from the example 😊

Thanks for reaching out and for the kind words 😄 I appreciat

[2020-10-23 20:36] #67 closed, assigned to nobody

[2020-10-23 20:57] ruyadorno commented on #66
I gave it some thought and I think a very good UX for this would be something like:

[code]

and then allowing users to enter an `edit` mode by hitting a specific key, let's say `E`:

[code]

Then once they hit ENTER we run this modified script instead, we could even go a step further and save it to the history of commands so that if when you run `nt` you run that same last command you just tweake

[2020-10-23 21:01] ruyadorno commented on #63
That sounds like something that would be interesting to have for sure! 😄 As you pointed out I think the place to start would be to get a proper file config as discussed in #23 so that we could also allow scripts/descriptions/more metadata to live there and be more flexible with regards to user format preference.

I don't even think it would need to be behind a flag such as `--patch` and would just

[2020-10-23 21:11] ruyadorno opened #68 "Run tasks by name"
It may seem counter intuitive but during some discussions in the **npm cli** I realized there's def a value to be provided to **ntl** users by allowing usage of positional arguments in order to run a task without the need of the interactive interface.

For one, it's an elegant way to fix the forwarding of arguments as described in #66 and it will also provide a nice shortcut alternative to `npm ru

[2020-11-20 13:29] armoucar opened #69 "Ignore all tasks that starts with underline (_)"
I could get that working, but the command I needed was

`$ ntl -e '__*'`

I don't know why I tried a pattern for strings starting with double underline, but that's how I'm ignoring tasks that start with only one underline.

[2020-12-15 12:30] sergeyblohin commented on #66
I need this functionality too.
I suggest next solution.
Run ntl with argument `ntl --argument` or `ntl -a`.
After run we choice task, hit Enter and type arguments for the script.

Normal mode:

[code]

With arguments mode:

[code]

I think the idea is clear.

p. s.: Sorry for my english

[2020-12-15 16:16] ruyadorno commented on #66
thank you so much @sergeyblohin! YES, your idea is clear and I think it's even better than what I previously proposed!

Having a second prompt is not only much easier to implement but also probably more intuitive for the majority of users 😊 I also think having an argument (such as `--argument` and `-a`) is better, although I still think supporting a magic key (such as E) can also be very helpful.

[2021-01-02 10:41] imaverage opened #70 "Hide "No descriptions" found alert"
`ntl --size 12 --autocomplete --all --descriptions` is desired for that little snippet view on the right side
![image](https://user-images.githubusercontent.com/73820097/103455701-b934c680-4cb4-11eb-8ab4-e60a771985aa.png)

but what is undesired is this annoying message at the top. lets get rid of it
![image](https://user-images.githubusercontent.com/73820097/103455693-a7532380-4cb4-11eb-8172-9420c

[2021-01-07 02:13] BananaAcid commented on #66
i thought it would be cool to add the required params next to the ntl.descriptions in the project.json, so ntl could ask ( pompt for each one like @sergeyblohin mentioned) for the param by showing its name:

[code]

[2021-02-08 16:01] ruyadorno commented on #31
ooohh I found it, there's a configurable timeout in nodejs realine api 😅 only took me 2 years to figure it out, will patch in the next release

[2021-02-17 14:03] elhoucine commented on #31
Sounds good, Thank you :D 👍

[2021-02-19 03:57] ruyadorno commented on #66
@BananaAcid that looks a little bit more evolved than what I'm planning to land at first but I can see the value and maybe we can follow up with something similar to that in the future.

It's been hard to find the time to wrap this up but I would like to provide some updates to anyone still keeping an eye on this, I have a working version of the second prompt as proposed by @sergeyblohin which for

[2021-03-17 11:49] entozoon opened #71 "Indenting Despite --descriptions-only or exclude tasks"
[code]

Even with using the descriptions only option, it still indents the script name as if those other option(s) were listed:

[code]

Why does it matter?
If you have the situation where you only want to show scripts that have descriptions, but then some of the hidden script names are really long

Same thing occurs if you exclude a task with the `-e` exclude task arg

[2021-03-17 12:13] entozoon opened #72 "--no-rerun-cache Does not prevent last ran command selection"
[code]
Does not appear to prevent the last ran command from being stored. It still selects the last ran command when you run it.

[2021-03-31 15:40] entozoon commented on #72
[PR to fix the issue](https://github.com/ruyadorno/ntl/issues/72)

[2021-05-10 05:35] duckscofield commented on #34
I have the same problem. I use node v12.13.0 version

[2021-05-11 06:36] MangelMaxime commented on #71
The same is true if there are `pre` or `post` tasks.

With only a `release` task.

[code]

With a `prerelease` and `release` tasks.

[code]

The problem seems to be that `getLongName` doesn't apply the different filters as they are applied when constructing the `input` list only.

https://github.com/ruyadorno/ntl/blob/7f4126c3a2f6cc77fc36c6e3a93af14122ce22df/cli.js#L219-L220

[2021-05-31 20:14] jfollmann opened #77 ""nt" not working in windows"
In windows environments, command "nt" not working.

The application show this warning:

⚠  Unable to retrieve commands to rerun

Is there any way this option work on windows?

Obs .: in linux it works perfectly. ❤️
Thanks.

[2021-05-31 20:23] jfollmann commented on #77
I customized the cache settings and it worked correctly.

Thanks.

[2021-05-31 20:23] #77 closed, assigned to nobody

[2021-11-25 08:57] mreis1 opened #81 "ntl -A (v1.2.0) doesn't work with iTerm2 (v3.4.12)"
The same command on mac's default terminal, the `ntl -A` works as expected.
Any advices?

[2021-11-25 15:30] mreis1 commented on #81
sorry, I noticed that with version 1.2.0 it works correctly in both (iTerm and apple's native terminal) . So I'm closing the issue.

[2021-11-25 15:30] #81 closed, assigned to nobody

[2021-12-26 22:50] trsrm commented on #66
Any updates on this?

[2022-01-10 23:18] ruyadorno commented on #66
for now I'd appreciate any feedback from folks with different environments, you can give it a quick try using **npx**:

[code]

but ideally before shipping I'd also like to add support to cli arguments as @sergeyblohin suggested previously

[2022-01-27 18:36] BananaAcid commented on #66
I am not sure, what feature is new and how to test it - could you give an example?

[2022-01-31 18:21] ruyadorno commented on #66
For now the main thing there is an "Edit script" interface that aims to solve the problem stated at the origin of this thread (being able to pass arguments to scripts), to use it you simply hit (e) when the selector is over the item you desired to pass arguments to in the list.

[2022-08-02 18:13] mathiasgheno opened #85 "Error when "-O" option"
When

[code]
or

[code]

I get a error

[code]

Node Version: v14.20.0
PNPM version: 7.8.0
OS: Ubuntu 20.04.4 LTS

I got the same error in another project using NPM version 6.14.17. In my first project I'm using ESM but in the second one I'm not. I also tried to make a minimal reproduction project for this issue, but it worked. It may be a problem with my computer or my projects, I'm still investi

[2022-08-02 20:11] ruyadorno commented on #85
interesting, it would be very appreciated if you could provide a reproduction 😊

🤔 I do wonder if using **npx** works for you: `npx ntl -O`

[2022-08-08 17:56] ErickWendel opened #86 "Error when running native node test-runner module + tap-spec + esm"
Using the `Node.js v18.7` and tap-spec to pipe results from the node test runner the `ntl` command outputs `✖  Error building interactive interface` and the `nt` throws an exception

Steps for reproducing the error:

[code]
My script in the `package.json` file
[code]

Using `ntl`

[code]

[code]

[2022-08-08 22:02] mathiasgheno commented on #85
I tried the `npx` option and did not work.

I reinstalled everything in the project with:

[code]

Did not worked also.

I'll focus this week in creating one minimal reproduction project based in my current project.